<%- include("partials/header") -%>
  <div class="about-container">
      <h1>Hello!</h1>
      <p class="greeting">
          How do you think about this to-do list app? I hope you like it
          <i class="fa fa-smile-o" aria-hidden="true"></i>
      </p>
  </div>
    <hr>
  <div class="about-container">
      <p class="greeting">This app is developed using:</p>
      <ul style="list-style-type:none">
          <li>HTML and CSS (of course), </li>
          <li>Bootstrap framework, </li>
          <li>Express,js framework, </li>
          <li>Node.js environment, and</li>
          <li>MondoDB Atlas database.</li> 
      </ul>
      <p class="greeting">This app is deployed using Heroku.</p>
      <p class="greeting">The database is hosted on AWS.</p>
  </div>

<%- include("partials/footer") -%>
