<%- include("partials/header") -%>
<h1>About</h1>
<p class="greeting">
  This is a full-stack web development project completed by Yuheng Miao.
  <em>Bootstrap</em>, <em>Node.js</em>, <em>Express.js</em>, <em>Lodash</em>,
  and DATABASE are used to bring this web application to life.
</p>

<%- include("partials/footer") -%>
