<%- include("partials/header") -%>
<h1>Contact</h1>
<p class="greeting">
    I'm glad that this webpage grabs your attention!
</p>

<p class="greeting">
    If any error occurs, please contact the developer at
    <a href="mailto:miao.yuhe@northeastern.edu">Yuheng</a>
</p>

<%- include("partials/footer") -%>